/*tr > th:last-of-type, tr > td:last-of-type{*/
    /*text-align:center;*/
    /*vertical-align:middle;*/
/*}*/
.font-200{
    font-size: 200%!important;
}

.smart-form footer{
    padding-left: 0px !important;
}

.align-vertical, th, td{
    vertical-align: middle !important; /* alinha verticalmente */
    height: 36px; /* altura customizada da celula */
}

.align-text-center{
    text-align: justify;
}

.datepicker{
    padding: 0 !important;
    padding-left: 7px !important;
}

.swal-icon img{
    width: 80px !important;
    height: 80px !important;
}

.autocomplete-ui-add{
    background-color: #0e90d2;
    color: #fff;
    padding: 3px;
    text-decoration: none;
    cursor: pointer
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    z-index: 100000;
}

.loader-gif{
    text-align: center;
    top: 35%;
    color: #f48221;
    position: relative;
    width: 100%;
    /*background-color: #232323;*/
    /*background-color: rgba(0,0,0,.8);*/
    padding: 20px;
}

.btn-margin-top{
    margin-top: 25px;
}

.btn-file {
    height: 31px;
    padding: 0 4px;
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-responsive {
    max-width: 90%; /* or to whatever you want here */
}

.table-hover{
    cursor: pointer!important;
}

/* LAYOUT VENDA */
.sale-product{
    opacity: 0.5 !important;
}

.sale-txt-client{
    text-decoration: underline;
}

.sale-shortcut-key{
    text-align: center;
    background: rgba(209, 209, 209, 0.51);
    padding: 3px;
}

.sale-input-rigth{
    font-size: 18px !important;
    text-align: right;
}

.sale-total-price{
    background: #3a3633;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.sale-panel-details{
    font-size: 15px;
    border-bottom: 1px solid #bdbdbd;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.modal-xl{
    width: 80%!important;
}

.margin-top-34{
    margin-top: 34px !important;
}

.no-margin-left{
    margin-left: 0px!important;
}

.input-align-center{
    text-align: center;
}

/* DDSLICK */
.dd-select{
    background: #fff !important;
    height: 32px !important;
    border-radius: 0 !important;
    border: solid 1px #bdbdbd !important;
}

.dd-selected{
    padding: 7px 6px !important;
}

.dd-container{
    width: 100% !important;
}

.dd-options{
    height: 250px !important;
}

a.dd-selected{
    color: #4c4c4c !important;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    .img-responsive {
        min-width: 70%;
    }
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
    .img-responsive {
        min-width: 30%;
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    /* It's possible to hide the image if the screen becomes too small */
    .img-responsive {
        min-width: 10%;
    }
}
